.advantages {
    min-height: 473px;
    padding: 73px 0 65px 0;
    background-color: #f6f6f6;
    &__header {
        font-weight: 700;
        font-size: 30px;
        color: #0D0D0D;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 269px;
        img {
            display: block;
            width: 70px;
            height: 70px;
        }
        h3 {
            font-weight: 700;
            font-size: 18px;
            color: #0D0D0D;
            margin-top: 35px;
        }
        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: #0D0D0D;
            span {
                color: #FF0000;
                text-transform:uppercase;
            }
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            /*animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;*/
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}