@import '../libs/bootstrap-reboot.min.scss';
@import '../libs/font.scss';
@import '../libs/slick.scss';

@import '../base/variables';
@import '../base/animations.scss';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}
@import 'promo.scss';
@import 'header.scss';
@import 'buttons.scss';
@import 'advantages.scss';

@import 'consultation.scss';
@import 'titles.scss';
@import 'forms.scss';
@import 'carousel.scss';
@import 'media.scss';
@import 'catalog.scss';
@import 'footer.scss';
@import 'feed.scss';
@import 'modal.scss';
@import 'pageup.scss';
